:root {
    --fa-glass: "\f000";
    --fa-music: "\f001";
    --fa-search: "\f002";
    --fa-envelope: "\f0e0";
    --fa-envelope-o: "\f003";
    --fa-envelope-open: "\f2b6";
    --fa-envelope-open-o: "\f2b7";
    --fa-heart: "\f004";
    --fa-star: "\f005";
    --fa-star-o: "\f006";
    --fa-user: "\f007";
    --fa-film: "\f008";
    --fa-th-large: "\f009";
    --fa-th: "\f00a";
    --fa-th-list: "\f00b";
    --fa-check: "\f00c";
    --fa-times: "\f00d";
    --fa-search-plus: "\f00e";
    --fa-search-minus: "\f010";
    --fa-power-off: "\f011";
    --fa-signal: "\f012";
    --fa-cog: "\f013";
    --fa-trash-o: "\f014";
    --fa-home: "\f015";
    --fa-file-o: "\f016";
    --fa-clock-o: "\f017";
    --fa-road: "\f018";
    --fa-download: "\f019";
    --fa-arrow-circle-o-down: "\f01a";
    --fa-arrow-circle-o-up: "\f01b";
    --fa-inbox: "\f01c";
    --fa-play-circle-o: "\f01d";
    --fa-repeat: "\f01e";
    --fa-refresh: "\f021";
    --fa-list-alt: "\f022";
    --fa-lock: "\f023";
    --fa-flag: "\f024";
    --fa-headphones: "\f025";
    --fa-volume-off: "\f026";
    --fa-volume-down: "\f027";
    --fa-volume-up: "\f028";
    --fa-qrcode: "\f029";
    --fa-barcode: "\f02a";
    --fa-tag: "\f02b";
    --fa-tags: "\f02c";
    --fa-book: "\f02d";
    --fa-bookmark: "\f02e";
    --fa-print: "\f02f";
    --fa-camera: "\f030";
    --fa-font: "\f031";
    --fa-bold: "\f032";
    --fa-italic: "\f033";
    --fa-text-height: "\f034";
    --fa-text-width: "\f035";
    --fa-align-left: "\f036";
    --fa-align-center: "\f037";
    --fa-align-right: "\f038";
    --fa-align-justify: "\f039";
    --fa-list: "\f03a";
    --fa-outdent: "\f03b";
    --fa-indent: "\f03c";
    --fa-video-camera: "\f03d";
    --fa-picture-o: "\f03e";
    --fa-pencil: "\f040";
    --fa-map-marker: "\f041";
    --fa-adjust: "\f042";
    --fa-tint: "\f043";
    --fa-pencil-square-o: "\f044";
    --fa-share-square-o: "\f045";
    --fa-check-square-o: "\f046";
    --fa-arrows: "\f047";
    --fa-step-backward: "\f048";
    --fa-fast-backward: "\f049";
    --fa-backward: "\f04a";
    --fa-play: "\f04b";
    --fa-pause: "\f04c";
    --fa-stop: "\f04d";
    --fa-forward: "\f04e";
    --fa-fast-forward: "\f050";
    --fa-step-forward: "\f051";
    --fa-eject: "\f052";
    --fa-chevron-left: "\f053";
    --fa-chevron-right: "\f054";
    --fa-plus-circle: "\f055";
    --fa-minus-circle: "\f056";
    --fa-times-circle: "\f057";
    --fa-check-circle: "\f058";
    --fa-question-circle: "\f059";
    --fa-info-circle: "\f05a";
    --fa-crosshairs: "\f05b";
    --fa-times-circle-o: "\f05c";
    --fa-check-circle-o: "\f05d";
    --fa-ban: "\f05e";
    --fa-arrow-left: "\f060";
    --fa-arrow-right: "\f061";
    --fa-arrow-up: "\f062";
    --fa-arrow-down: "\f063";
    --fa-share: "\f064";
    --fa-expand: "\f065";
    --fa-compress: "\f066";
    --fa-plus: "\f067";
    --fa-minus: "\f068";
    --fa-asterisk: "\f069";
    --fa-exclamation-circle: "\f06a";
    --fa-gift: "\f06b";
    --fa-leaf: "\f06c";
    --fa-fire: "\f06d";
    --fa-eye: "\f06e";
    --fa-eye-slash: "\f070";
    --fa-exclamation-triangle: "\f071";
    --fa-plane: "\f072";
    --fa-calendar: "\f073";
    --fa-random: "\f074";
    --fa-comment: "\f075";
    --fa-magnet: "\f076";
    --fa-chevron-up: "\f077";
    --fa-chevron-down: "\f078";
    --fa-retweet: "\f079";
    --fa-shopping-cart: "\f07a";
    --fa-folder: "\f07b";
    --fa-folder-open: "\f07c";
    --fa-arrows-v: "\f07d";
    --fa-arrows-h: "\f07e";
    --fa-bar-chart: "\f080";
    --fa-bar-chart-o: "\f080";
    --fa-twitter-square: "\f081";
    --fa-facebook-square: "\f082";
    --fa-camera-retro: "\f083";
    --fa-key: "\f084";
    --fa-cogs: "\f085";
    --fa-gears: "\f085";
    --fa-comments: "\f086";
    --fa-thumbs-o-up: "\f087";
    --fa-thumbs-o-down: "\f088";
    --fa-star-half: "\f089";
    --fa-heart-o: "\f08a";
    --fa-sign-out: "\f08b";
    --fa-linkedin-square: "\f08c";
    --fa-thumb-tack: "\f08d";
    --fa-external-link: "\f08e";
    --fa-sign-in: "\f090";
    --fa-trophy: "\f091";
    --fa-github-square: "\f092";
    --fa-upload: "\f093";
    --fa-lemon-o: "\f094";
    --fa-phone: "\f095";
    --fa-square-o: "\f096";
    --fa-bookmark-o: "\f097";
    --fa-phone-square: "\f098";
    --fa-twitter: "\f099";
    --fa-facebook: "\f09a";
    --fa-facebook-f: "\f09a";
    --fa-github: "\f09b";
    --fa-unlock: "\f09c";
    --fa-credit-card: "\f09d";
    --fa-feed: "\f09e";
    --fa-rss: "\f09e";
    --fa-hdd-o: "\f0a0";
    --fa-bullhorn: "\f0a1";
    --fa-bell: "\f0f3";
    --fa-certificate: "\f0a3";
    --fa-hand-o-right: "\f0a4";
    --fa-hand-o-left: "\f0a5";
    --fa-oil-can: "\f0a6";
    --fa-cube: "\f0a3";
    --fa-cubes: "\f0a3";
    --fa-database: "\f1c0";
    --fa-file-pdf-o: "\f1c1";
    --fa-file-word-o: "\f1c2";
    --fa-file-excel-o: "\f1c3";
    --fa-file-powerpoint-o: "\f1c4";
    --fa-file-image-o: "\f1c5";
    --fa-file-photo-o: "\f1c5";
    --fa-file-picture-o: "\f1c5";
    --fa-file-archive-o: "\f1c6";
    --fa-file-zip-o: "\f1c6";
    --fa-file-audio-o: "\f1c7";
    --fa-file-sound-o: "\f1c7";
    --fa-file-movie-o: "\f1c8";
    --fa-file-video-o: "\f1c8";
    --fa-file-code-o: "\f1c9";
    --fa-vine: "\f1ca";
    --fa-codepen: "\f1cb";
    --fa-jsfiddle: "\f1cc";
    --fa-life-bouy: "\f1cd";
    --fa-life-buoy: "\f1cd";
    --fa-life-ring: "\f1cd";
    --fa-life-saver: "\f1cd";
    --fa-support: "\f1cd";
}
